@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
/** iniciando **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5ebd0; /** em duvida **/
    color: #0D0D0D; /** em duvida **/
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 20px 0;
    background-color: #f2c9e0; /** em duvida **/
    text-align: center;
}

header img {
    width: 500px;
    height: auto;
    margin-bottom: 3px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #F2E0C9; /** em duvida **/
    background-color: #86C2D9; /** em duvida **/
    font-weight: bold;
    font-size: 16px;
    padding: 6px 15px;
    border-radius: 15px;
}

nav a:hover {
    color: #0D0D0D; /** em duvida **/
    background-color: #d96690; /** em duvida **/
}

main {
    margin: 20px;
    
}

h1 {
    color: #d96690; /** em duvida **/
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#descricao {
    text-align: center;
}

.container-principal {
    display: flex;
    max-width: 920px; /** em duvida **/
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.blocos-container {
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: #ecd9ae; /** em duvida **/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #807f7f; /** em duvida **/
}

.blocos-container img {
    width: 300px; /** em duvida **/
    height: auto;
    border-radius: 5px; /** em duvida **/
}

.infos-pessoa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infos-pessoa h2 {
    color: #d96690; /** em duvida **/
    margin-bottom: 8px;
}

.infos-pessoa p {
    text-align: justify;
}

.infos-pessoa a {
    text-decoration: none;
    color: #F2E0C9; /** em duvida **/
    background-color: #d96690; /** em duvida **/
    padding: 5px 12px;
    margin: 3px;
    border-radius: 15px;
    font-weight: 500;
}

.infos-pessoa a:hover{
    color: #0D0D0D; /** em duvida **/
    background-color: #86C2D9; /** em duvida **/
}

#topo {
    text-align: center;
    margin-top: 25px;
}

#topo a {
    color: #d96690; /** em duvida **/
    text-decoration: none;
}

#topo a:hover {
    color:#86C2D9; /** em duvida **/
}

footer {
    background-color: #f2c9e0; /** em duvida **/
    color: #0D0D0D; /** em duvida **/
    padding: 20px 0px;
    text-align: center;
}

.redes-sociais {
    margin-top: 10px;
}

.redes-sociais img {
    /** Salve icons que tenham proporção 1:1 **/
    width: 24px;
    height: 24px;
    margin: 0px 6px;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

/** Estilizações para telas menores: **/

@media (max-width: 800px) {
    header img {
        width: 100%; /** em duvida **/
    }

    .blocos-container {
        flex-direction: column;
    }

    .infos-pessoa {
        align-items: center;
    }

    .infos-pessoa img {
        width: 100%; /** em duvida **/
    }
}