@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7e6;
    color: #100409;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 20px 0;
    background-color: #fccce9;
    text-align: center;
}

header img {
    width: 500px;
    height: auto;
    margin-bottom: 3px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #f5f1f1;
    background-color: #679fb6;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 15px;
    border-radius: 15px;
}

nav a:hover {
    color: #100409;
    background-color: #D96690;
}

main {
    margin: 20px;
    
}

h1 {
    color: #D96690;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#descricao {
    text-align: center;
}

.formas-ingresso, .cursos-ime, .campi {
    text-align: justify;
}

.formas-ingresso h2, .cursos-ime h2, .campi h2 {
    color: #679fb6;
    margin-top: 16px;
    margin-bottom: 10px;
}

.formas-ingresso p, .cursos-ime p, .campi p {
    margin: 6px 0;
}

.formas-ingresso h3 {
    color: #031C21; /* trocar depois */
    margin: 8px 0;
}

.formas-ingresso a, .cursos-ime a, .campi a {
    text-decoration: none;
    color:#D96690;
    font-weight: 500;
}

.formas-ingresso a:hover, .cursos-ime a:hover, .campi a:hover {
    color: #679fb6;
}

.feira-profissoes {
    background-color: #f5e8b5;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #888888; 
}

.feira-profissoes h2 {
    color: #D96690;
    margin-bottom: 14px;
}

.feira-profissoes p {
    margin-bottom: 14px;
}

.feira-profissoes a {
    text-decoration: none;
    color: #f5f1f1;
    background-color: #D96690;
    padding: 5px 12px;
    /*margin-top: 20px;*/
    border-radius: 15px;
    font-weight: 500;
}

.feira-profissoes a:hover{
    color: #100409;
    background-color: #679fb6;
}

ul, ol {
    list-style-position: inside
}

li {
    margin: 8px 0px;
}

#topo {
    text-align: center;
    margin-top: 25px;
}

#topo a {
    color: #D96690;
    text-decoration: none;
}

#topo a:hover {
    color:#679fb6;
}

footer {
    background-color: #fccce9;
    color: #100409;
    padding: 20px 0px;
    text-align: center;
}

.redes-sociais {
    margin-top: 10px;
}

.redes-sociais img {
    /* Salve icons que tenham proporção 1:1 */
    width: 24px;
    height: 24px;
    margin: 0px 6px;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

/* Estilizações para telas menores: */

@media (max-width: 800px) {
    header img {
        width: 100%;
    }
}