@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #fff7e6;*/
    color: #100409;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    /* teste */
    background-image: url('imagem_fundo_teste.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

header {
    padding: 20px 0;
    background-color: #fccce9;
    text-align: center;
}

header img {
    width: 500px;
    height: auto;
    margin-bottom: 3px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #f5f1f1;
    background-color: #679fb6;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 15px;
    border-radius: 15px;
}

nav a:hover {
    color: #100409;
    background-color: #D96690;
}

main {
    margin: 20px;
    
}

h1 {
    color: #D96690;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#descricao {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.container-principal {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    margin: 0 auto;
    gap: 25px;
    margin-top: 25px;
}

.blocos-container {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5e8b5;
    box-shadow: 0px 0px 6px #888888; 
}

.blocos-container h2 {
    color: #679fb6;
    margin-bottom: 8px;
}

.blocos-container p {
    margin-top: 8px;
    margin-bottom: 16px;
}

.blocos-container a {
    text-decoration: none;
    color: #f5f1f1;
    background-color: #D96690;
    padding: 5px 12px;
    border-radius: 15px;
    font-weight: 500;
}

.blocos-container a:hover {
    color: #100409;
    background-color: #679fb6;
}

#topo {
    text-align: center;
    margin-top: 25px;
}

#topo a {
    color: #D96690;
    text-decoration: none;
}

#topo a:hover {
    color:#679fb6;
}

footer {
    background-color: #fccce9;
    color: #100409;
    padding: 20px 0px;
    text-align: center;
}

.redes-sociais {
    margin-top: 10px;
}

.redes-sociais img {
    /* Salve icons que tenham proporção 1:1 */
    width: 24px;
    height: 24px;
    margin: 0px 6px;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

/* Estilizações para telas menores: */

@media (max-width: 800px) {
    header img {
        width: 100%;
    }
}